# GEMINI Configuration
GEMINI_API_KEY=""
MODEL_NAME="gemini-2.5-flash-lite"

# JIRA Configuration
JIRA_URL=""
JIRA_EMAIL=""
JIRA_API_TOKEN=""
JIRA_MAX_RESULTS = 5

# GITHUB Configuration
GITHUB_TOKEN=""
GITHUB_BASE_URL = "https://api.github.com"
